<!DOCTYPE html>  
<html lang="en">  
    <head>  
        {% load static %}
        <meta charset="UTF-8">  
        <title>Activity,Room and Gym</title>  
  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
    </head>  
    <body>
       
        <H2>Please Select your Task</H2>
       
        <div class ="home">
           
            <br>
            <br>
            <a href="/EnterGym" class="classname"style='margin-right:96px'>Add Gym</a>
            <br>
            <br>
            <br>
            <br>
            <a href="/EnterRoom" class="classname"style='margin-right:96px'>Add Room</a>
            <br>
            <br>
            <br>
            <br>
            <a href="/EnterActivity" class="classname"style='margin-right:96px'>Add Activity</a>
            <a href="/deleteActivity" class="classname"style='margin-right:96px'>Delete Activity</a>
            <a href="/showActivity" class="classname"style='margin-right:96px'>Show Activity</a>
            <br>
            <br>
            <br>
            <br>
            <a href="/EnterMemberToActivity" class="classname"style='margin-right:96px'>Member to activity</a>
            <a href="/EnterTrainerToActivity" class="classname"style='margin-right:96px'>Trainer to activity</a>
            <br>
            <br>
            <br>
            <br>
            
            
            <a href="/" class="classname"style='margin-right:96px'>Home</a>
        </div>
    </body>  
</html> 