<!DOCTYPE html>  
<html lang="en">  
    <head>  
        {% load static %}

        <meta charset="UTF-8">  
        <title>Add Cleaner and Equipment</title>  
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">

    </head>  
    <body>  
        <h2>Add Cleaner and Equipment</h2>
        <br>
    <form method="POST" id="cleaner_equipment" class="post-form" data-equipment-url="{% url 'ajax_load_equipment' %}">  
            {% csrf_token %}  
            {{ form.as_p }}  
            <button type="submit" class="save btn btn-default">Submit</button>  
        </form> 
        <br>
        <br>
        <br>
        <div class="home">
            <a href="/" class="classname"style='margin-right:96px'>Home</a>
        </div>
    </body>  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_equipment_cleaner").change(function () {
        var url = $("#cleaner_equipment").attr("data-equipment-url"); 
         // get the url of the `load_cities` view
        
        var cleanerId = $(this).val();  // get the selected country ID from the HTML input
  
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'cleaner': cleanerId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_equipment").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
  
      });
    </script>
</html>  