<!DOCTYPE html>  
<html lang="en">  
    <head>  
        {% load static %}
        <meta charset="UTF-8">  
        <title>Equipment and Cleaner</title>  
  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
    </head>  
    <body>
        
        <H2>Please Select your Task</H2>
        <br>
        <br>
        <br>
        <div class ="home">
        
            
            <br>
            <a href="/EnterEquipment" class="classname"style='margin-right:96px'>Add Equipment</a>
            <a href="/deleteEquipment" class="classname"style='margin-right:96px'>Delete Equipment</a>
            <a href="/showEquipment" class="classname"style='margin-right:96px'>Show Equipment</a>

            <br>
            <br>
            <br>
            <a href="/EnterEquipment_cleaner" class="classname"style='margin-right:96px'>Add Cleaner</a>
            <a href="/deleteEquipmentCleaner" class="classname"style='margin-right:96px'>Delete Cleaner</a>
            <a href="/updateEquipmentCleaner" class="classname"style='margin-right:96px'>Update Cleaner</a>
            <a href="/showEquipmentCleaner" class="classname"style='margin-right:96px'>Show Cleaner</a>
            <br>
            <br>
            <br>
            <a href="/EnterCleanerToEquipment" class="classname"style='margin-right:96px'>Cleaner to Equipment</a>
           
            <br>
            <br>
            <br>
            <br>
            <a href="/" class="classname"style='margin-right:96px'>Home</a>
    </body>  
</html> 