<!DOCTYPE html>  
<html lang="en">  
    <head>  
        {% load static %}
        <meta charset="UTF-8">  
        <title>Member and Trainer Menu</title>  
  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
    </head>  
    <body>
        
        <H2>Please Select your Task</H2>
        <br>
        <br>
        <br>
        <div class ="home">
            <a href="/EnterMember" class="classname" style='margin-right:96px'>Add Member</a>
            <a href="/showMember" class="classname"style='margin-right:96px'>Show Members</a>
            <a href="/deleteMember" class="classname"style='margin-right:96px'>Delete Member</a>
            <a href="/updateMember" class="classname"style='margin-right:96px'>Update Member</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="/EnterTrainer" class="classname"style='margin-right:96px'>Add Trainer</a>
            <a href="/showTrainer" class="classname"style='margin-right:96px'>Show Trainers</a>
            <a href="/deleteTrainer" class="classname"style='margin-right:96px'>Delete Trainer</a>
            <a href="/updateTrainer" class="classname"style='margin-right:96px'>Update Trainer</a>
            <br>
            <br>
            <a href="/" class="classname"style='margin-right:96px'>Home</a>
        </div>
    </body>  
</html> 